*{
    margin: 0;
    padding: 0;

}
.container{
    border: 2px solid red;
    margin: 20px;
}
.box{
    border: 2px solid rgb(22, 199, 169);
    width:150px;
    height:100px;
    padding:10px;
    text-align: center;
    font-weight: 500 ;
    display: inline-block;

}
/* width:15px;
    height:150px;
    padding:10px;
    text-align: center;
    font-weight:500 ;
    display: inline-block;
 */

/* .absolute{
    position: absolute;
    top:50px;
    right: 2080px;
    left: 200px;
} */
.fixed{
    position :fixed;
    left: 715px;
}
.sticky{
    position: sticky;
    top: 0;
    bottom: 20px;

}
.container-2{
    height: 1000px;
    border:20px solid rgb(22, 199, 169);
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
